<div class="container-fluid">

  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12">
        <select class="form-control input-sm" ng-model="severityCode" ng-change="refresh()"
        ng-options="s for s in severityCodes " >
        </select>
    </div>

    <div class="col-md-2 col-sm-3 col-xs-12">
      <input class="form-control input" type="date"  ng-model="from_date" size="5" ng-change="refresh()" />
    </div>
    <div class="col-md-2 col-sm-3 col-xs-12">
      <input class="form-control input" type="date"  ng-model="to_date" size="5" ng-change="refresh()" />
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12">
      <button type="button" class="btn btn-primary btn-block" ng-click="refresh()" ng-disabled="autoRefresh">{{ refreshText }}</button>
    </div>
  </div> <!-- row -->

  <div class="row">
    <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li ng-class="{active: !environment}"><a data-toggle="tab" ng-click="setEnv(null)">ALL&nbsp;<span class="badge">{{ total || 0 }}</span></a></li>
      <li ng-class="{active: environment == e.environment}" ng-repeat="e in environments"><a data-toggle="tab" ng-click="setEnv(e.environment)">{{ e.environment }}&nbsp;<span class="badge"></span></a></li>
    </ul>
    </div>
  </div> <!-- row -->

  <div class="row">
    <div class="col-xs-12">
      <table class="table">
        <tr>
          <th>Services</th>
          <th>Event</th>
          <th>Resources</th>
          <th>Environments</th>
          <th>Count</th>

        </tr>

        <tr ng-repeat="event in top10 | filter:search">
          <td>{{ event.services.join(', ') }}</td>
          <td>{{ event.event.join(',') }}</td>
          <td><span ng-repeat="resource in event.resources"><a href="#/alert/{{ resource.id }}">{{ resource.resource }}</a> </span></td>
          <td>{{ event.environments.join(', ') }}</td>
          <td>{{ event.count }}</td>
        </tr>
      </table>

      <div ng-show="!top10">
          <center><img src="img/loading.gif"/></center>
      </div>

      <div ng-show="top10.length == 0">
          <center>{{ message }}</center>
      </div>

    </div>
  </div> <!-- row -->

</div> <!-- container -->
