<div class="container-fluid">

  <div class="row" style="margin-bottom: 10px;">
    <div class="col-md-3 col-sm-3 col-xs-12">
        <select class="form-control input-sm" ng-model="severityCode" ng-change="refresh()"
        ng-options="s for s in severityCodes " style="height: 34px;line-height: 34px;">
        </select>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-12">
      <input class="form-control input" ng-model="search" size="8" placeholder="Search">
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12">
      <button type="button" class="btn btn-primary btn-block" ng-click="refresh()" ng-disabled="autoRefresh">{{ refreshText }}</button>
    </div>
  </div> <!-- row -->
  <div class="row" style="margin-bottom: 10px;">
    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="dropdown">
        <a class="dropdown-toggle" id="dropdownStart" role="button" data-toggle="dropdown" data-target="#"
           href="javascript:;">
          <div class="input-group date">
            <span class="form-control">{{dateRangeStart | date: 'yyyy-MM-dd HH:mm'}}</span>
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          </div>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <datetimepicker data-ng-model="dateRangeStart"
                          data-datetimepicker-config="{ dropdownSelector: '#dropdownStart', renderOn: 'end-date-changed',minuteStep:1 }"
                          data-on-set-time="startDateOnSetTime()"
                          data-before-render="startDateBeforeRender($dates)"></datetimepicker>
        </ul>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="dropdown">
        <a class="dropdown-toggle" id="dropdownEnd" role="button" data-toggle="dropdown" data-target="#"
           href="javascript:;">
          <div class="input-group date">
            <span class="form-control">{{dateRangeEnd | date: 'yyyy-MM-dd HH:mm'}}</span>
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          </div>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <datetimepicker data-ng-model="dateRangeEnd"
                          data-datetimepicker-config="{ dropdownSelector: '#dropdownEnd', renderOn: 'start-date-changed',minuteStep:1 }"
                          data-on-set-time="endDateOnSetTime()"
                          data-before-render="endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)"></datetimepicker>
        </ul>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12" style="padding-top: 6px;">
      <button class="label label-warning" ng-click="setDate('Today')">Today</button>
      <button class="label label-warning" ng-click="setDate('Yesterday')">Yesterday</button> 
      <button class="label label-warning" ng-click="setDate('Last 3 Days')">Last 3 Days</button> 
      <button class="label label-warning" ng-click="setDate('Last 1 Week')">Last 1 Week</button> 
      <button class="label label-warning" ng-click="setDate('Latest 2 Weeks')">Latest 2 Weeks</button> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li ng-class="{active: !environment}"><a data-toggle="tab" ng-click="setEnv(null)">ALL&nbsp;<span class="badge">{{ total || 0 }}</span></a></li>
      <li ng-class="{active: environment == e.environment}" ng-repeat="e in environments"><a data-toggle="tab" ng-click="setEnv(e.environment)">{{ e.environment }}&nbsp;<span class="badge"></span></a></li>
    </ul>
    </div>
  </div> <!-- row -->

  <div class="row">
    <div class="col-xs-12">
      <table class="table">
        <tr>
          <th>Services</th>
          <th>Event</th>
          <th>Resources</th>
          <th>Environments</th>
          <th>Count</th>

        </tr>

        <tr ng-repeat="event in top10 | filter:search">
          <td>{{ event.services.join(', ') }}</td>
          <td>{{ event.event.join(',') }}</td>
          <td><span ng-repeat="resource in event.resources"><a href="#/alert/{{ resource.id }}">{{ resource.resource }}</a> </span></td>
          <td>{{ event.environments.join(', ') }}</td>
          <td>{{ event.count }}</td>
        </tr>
      </table>

      <div ng-show="!top10">
          <center><img src="img/loading.gif"/></center>
      </div>

      <div ng-show="top10.length == 0">
          <center>{{ message }}</center>
      </div>

    </div>
  </div> <!-- row -->

</div> <!-- container -->
